.menu-options {
  color: white;
  text-align: center;
  vertical-align: middle;
}

.map {
  position: absolute;
  left: 15%;
  top: 100px;
  border:10px hidden;
  background-color: #cedceb;
}
about .body{

  background-color: #d9edf7
}

  

.land {
  fill:white;  /*this is styling the land*, with white background and grey line*/
  opacity: 0.9;
  stroke:none;
  stroke-width:0px;
}

.ice {
  fill:#f8f8fa;
  fill-opacity:0.8;
  stroke:none;
  stroke-width:0.7px;
  stroke-opacity:0.7;
}

.sea {
  fill:black;
  stroke: white;
  stroke-width:2px;
}

circle {

  opacity: 0.75;
}

.context a {
  color: #9c0d08;
  text-decoration: underline;
  white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.infoLabel {
  position: absolute;
  /*height: 50px;*/
  min-width: 20%;
  color: #1a4d84;
  background-color: rgba(210, 224, 239,0.5);
  /*opacity:0.5;*/
  padding: 30px 10px;
  font-family: 'Lato';

}


.infoLabel h1{
  margin: 10px 10px 10px 0;
  padding: 0;
  font-size: 28px;
  color: #103e70;

  /*display: inline-block;*/
  line-height: 1.2em;
  font-weight: bold;
  font-family: 'Lato';
  font-variant: small-caps;
}

.infoLabel h2{
  margin: 10px 20px 8px 0;
   padding-top: 5px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: normal;

  /*display: inline-block;*/
  /*line-height: 0.8em;*/
  font-family: 'Lato';
}


html {
  position: relative;
  min-height: 100%;
}


.legend{
  position: absolute;
  left: 0;
  top:60%;
  background-color: rgba(210, 224, 239,0.5);
}
.legendText{
  fill:#103e70;
  font-family: lato;
  font-weight: 550;
}



.navbar-custom {
  background-color: #ffffff;
  color: black;
  min-height: 50px;
  font-family: 'Reem Kufi', sans-serif;
}

/* title font */
.navbar-default .navbar-brand {
  padding-left: 3%;
  color: #9C0D08;
  font-family: 'Lato', sans-serif;
  font-size: 2.6em;
  font-style: bold;
  margin-top: 2%;
}

.navbar-text{
  margin-top: 3.7%;
  font-size: 1.3em;
  font-family: 'Lato';
  font-variant: small-caps;
  font-weight:300;
}

.logo{
  position: absolute;
  float: left;
  margin-top: 2px;
  margin-left: 1%;
  display: inline-block;

}
#logo2{

  display: inline;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
}

#logo3{
  float: right;
  display: inline-block;
  padding-top:250px;
  margin-right: 100px;
  margin-bottom: 10px;
}

.useguide p{
   padding-top:0px;
   font-size: 16px;
   font-family: 'Lato';
   color: #444343;
}
.useguide b{
   padding-top:0px;
   font-size: 17px;
   font-family: 'Lato';
}

.datadisclaimer {
  margin-left: 20px;
}

body {
  background-color: #ccd9e8;
  opacity: 1;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
}

#nav1 {
  padding-right: 20px;
}

/* Menu CSS */
.main-menu { 
    position: absolute;
    margin-left: 0% !important;
    color: #969696;
}

.menu-options {
  position: absolute;
  left: 0px;
  float: right;
  background-color: #fff;
  opacity:0.6;
  color: #9C0D08;
  cursor: pointer;
  font-family: Open Sans;
  font-weight: bold;
}

.icon{
  float: left;
  padding-top: 5px;
  margin-right: 5px;

}

.Overview {
  text-align: center;  font-weight: 900;
  padding: 7%;
}


.About {
  
  text-align: center;
  padding: 5%;
  padding-top:12px;
}
.Help {

  text-align: center;
  padding: 6%;

}

.Overview:hover {
  color: #1a4d84;
  background-color: #CCCCCC;
}
.About:hover {
  
  color: #1a4d84;
  background-color: #CCCCCC;
}
.Help:hover {

  color: #1a4d84;
  background-color: #CCCCCC;
}


.img-responsive {
  display: inline-block;
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 15px;

}

.introContent {
  position: relative;
  left:40px;
  padding-top: 20px;
  padding-bottom: 5px;
/*  display: inline-block;*/
  background-color: #e1ebf7;
  opacity: 0.6;
   border-radius: 15px;
  /*padding-left: 40px;*/

}

#ar1 {

  padding-left: 15px;
  padding-right: 15px;
}

#ar2 {
  height: 323px;
  padding-left: 15px;
  padding-right: 10px;
}

#ar3 {
  height: 323px;
  padding-left: 15px;
  padding-right: 10px;
}


#profile2 {
  position: absolute;
  left:405px;
}

#profile3 {
  position: absolute;
  left:795px;
}
h5 {
  padding-left: 3%;
  color: #9C0D08;
  font-family: 'Lato', sans-serif;
  font-size:2.8em;
  font-style: bolder;
  font-weight:500;
  margin-top: 0;
}

h3 {
   margin-top: 2.1%;
  font-size: 1.4em;
  font-family: 'Lato';
  font-variant: small-caps;
  font-weight:300;
}

h6{
  padding-top: 0.5%;
  font-size: 0.7em;
  color: #eff2f5;

}

p{
  font-family: "Lato",sans-serif;
  font-variant: small-caps;
  font-size: 15px;
  font-weight: 350;
  text-align: left;
  color: #444343;
}
.ui-widget {
  font-family: 'lato';
  fill: #1a4d84;
  font-weight: lighter;
}

.zoom {
  position: absolute;
  left: 200px;
  top:650px;
}

#head {
  min-width: 100%;
  display: inline-block;
  height: 84px;
    background-color: #F8F8F8;
    opacity:0.8; 
}

#title{
  position: absolute;
  padding-left: 100px;
  margin-top: 20px;
  width: 50%;
}

#subtitle{
  position: absolute;
  padding-left: 660px;
  margin-top: 15px;
  width: 70%;
}
/*
#footerwrap{

    bottom: 0px;
    color: white;
    text-align: center;
    font-family: 'Lato';
    background-color: #9C0D08;
 
}*/

#footerwrap {
  position: absolute;
  height: 5%;
  min-width: 100%;
  bottom: 0;
  background-color: #9C0D08;
  text-color:white;
}