.menu-options {
  color: white;
  text-align: center;
  vertical-align: middle;
}

.map {
	position: absolute;
  
  	padding-left: 3%;
}

.land {
	fill:white;  /*this is styling the land*, with white background and grey line*/
	opacity: 0.9;
	stroke:none;
	stroke-width:0px;
}

.ice {
	fill:#f8f8fa;
	fill-opacity:0.8;
	stroke:white;
	stroke-width:0.7px;
	stroke-opacity:0.7;
}

.sea {
	fill:black;
	stroke: white;
	stroke-width:2px;
}

circle {

	opacity: 0.8;
}

.infoLabel {
	position: absolute;
	/*height: 50px;*/
	min-width: 100px;
	color: #1a4d84;
	background-color: rgba(210, 224, 239,0.5);
	/*opacity:0.5;*/
	padding: 30px 10px;
	font-family: lato;

}

.context {

}

.infoLabel h1{
	margin: 0 20px 0 0;
	padding: 0;
	color: #103e70;

	/*display: inline-block;*/
	line-height: 1.2em;
	font-weight: bold;
	font-family: lato;
}

.infoLabel h2{
	margin: 10px 20px 8px 0;
	padding: 0;
	font-size: 20px;
	/*display: inline-block;*/
	/*line-height: 0.8em;*/
	font-family: lato;
}


.gratLines {
	stroke:none;
	fill:none;
	opacity: 0.6;
	
	stroke-width:1px;
}

.gratBackground {
	fill:none;
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-family: Lato, sans-serif;
}
.legend{
	position: absolute;
	background-color: rgba(210, 224, 239,0.5);
}
.legendText{
	fill:#103e70;
	font-family: lato;
	font-weight: 550;
}

.navbar {
  color: #2184CF;
}

.jumbotron {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #b8c68b;
  text-align: center;
  margin-bottom: 5px;
 }



.navbar-custom {
  background-color: #ffffff;
  color: black;
  min-height: 50px;
  font-family: 'Reem Kufi', sans-serif;
}

/* title font */
.navbar-default .navbar-brand {
  margin-left: 25px;
  color: #9C0D08;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-style: bold;
  margin-top: 18px;
}

.navbar-text{
	margin-top: 26px;
	font-size: 20px;
	font-family: 'lato';

	font-weight:300;
}

.logo{
	float: left;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

body {
  background-color: #bacde2;
  opacity: 1;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
}

#nav1 {
  padding-right: 20px;
}

/* Menu CSS */
.main-menu { 
    position: absolute;
    margin-left: 0% !important;
    color: #969696;
}

.menu-options {
	position: absolute;
	top:95px;
	left: 0px;
    float: right;
    background-color: #fff;
    opacity:0.6;
    color: #9C0D08;
    cursor: pointer;
    font-family: Open Sans, bold;


}

.icon{
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

.Overview {
  text-align: center;  font-weight: 900;
  padding: 7%;
}

.Mean-Temp {
  text-align: center;
  padding: 7%;
}

.Min-Temp {
 
  text-align: center;
  /*left:20px;*/
  padding: 7%;
}

.Max-Temp {

  text-align: center;
  padding: 7%;
}

.Mean-Wind {
  text-align: center;
  padding: 7%;
}

.Mean-Pressure {
  text-align: center;
  padding: 7%;
}
.About {
	
  text-align: center;
  padding: 7%;
  padding-top:10px;
}
.Help {

  text-align: center;
  padding: 7%;

}
.Mean-Temp:hover {
  color: #1a4d84;
  background-color: #CCCCCC;
}

.Min-Temp:hover {
  color: #1a4d84;
  background-color: #CCCCCC;
}

.Max-Temp:hover {
  color: #1a4d84;
  background-color: #CCCCCC;
}

.Mean-Wind:hover {
  color: #333333;
  background-color: #CCCCCC;
}

.Mean-Pressure:hover {
  color: #1a4d84;
  background-color: #CCCCCC;
}

.Overview:hover {
  color: #1a4d84;
  background-color: #CCCCCC;
}
.About:hover {
  
  color: #1a4d84;
  background-color: #CCCCCC;
}
.Help:hover {

  color: #1a4d84;
  background-color: #CCCCCC;
}

.sliderSVG{
	position: absolute;
	top:660px;
	left:20px;
	z-index: 3;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

